#================================================
# Composer files
#================================================
composer.phar
composer.lock
vendor/

#================================================
# IDE files
#================================================
.project
.buildpath
.settings/
.idea/

#================================================
# Code coverage report
#================================================
coverage/

#================================================
# Whalephant files
#================================================
docker/images/phpunit/Dockerfile
docker/images/phpunit/php.ini
whalephant

#================================================
# Logs
#================================================
php_errors.log
