language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1

before_script:
    - composer install --dev

script:
    - vendor/bin/phpunit -c phpunit.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)
