<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="Puzzle-configuration Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

</phpunit>
